version: "3.3"
services:
  mysql:
    image: mariadb:latest
    restart: always
    volumes:
      - ./sql:/docker-entrypoint-initdb.d
    environment:
      MYSQL_ROOT_PASSWORD: e9289ebcad2ae49d6e4d127b
      MYSQL_DATABASE: edu_forum
      MYSQL_USER: php
      MYSQL_PASSWORD: php
    networks:
      - mynet

  myredis:
    image: redis:latest
    networks:
      - mynet

  php:
    build:
      context: ./php
      dockerfile: Dockerfile
    #expose:
    #  - "9000"
    volumes:
      - ./php:/var/www/htdocs
    depends_on:
      - mysql
      - myredis
    networks:
      - mynet

  mynginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    volumes:
      - ./php:/var/www/htdocs
    ports:
      - "8080:80"
    depends_on:
      - php
    networks:
      - mynet

  phpMyAdmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8082:80"
    environment:
      PMA_HOST: mysql
      PMA_USER: php
      PMA_PASSWORD: php
    networks:
      - mynet

networks:
  mynet:
    driver: bridge
